.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.button {
  width: 50%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
