.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 20px;
  min-height: 100vh;
  background-color: #d6f6ff;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #d6f6ff 15px
    ),
    repeating-linear-gradient(#4088ff55, #4088ff);
}

.header {
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
