.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.user {
  display: flex;
  justify-content: space-between;
}

.logoutContainer {
  display: flex;
  gap: 20px;
}

.logoutButton {
  padding: 0 5px;
}
