.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logoutContainer {
  display: flex;
  gap: 20px;
}

.logoutButton {
  padding: 5px;
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 250ms var(--anim-func);
}

.logoutButton:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}
