.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.entry {
  display: flex;
  flex-direction: column;
}

.number {
  color: #888;
}

.button {
  padding: 0 5px;
}

.icon {
  cursor: pointer;
  transition: transform 250ms var(--anim-func);
}

.icon:hover {
  transform: scale(1.1, 1.1);
}

.animated {
  color: #888888;
  animation: spin 1000ms var(--anim-func);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
